body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.grid {
    width: 320px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    width: 70px;
    height: 70px;
    background: #444;
    font-size: 32px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}